.html {
    background: linear-gradient(135deg, rgba(255,87,0,1) 0%, rgba(255,211,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css {
    background: linear-gradient(135deg, rgba(23,0,255,1) 0%, rgba(20,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js {
    background: linear-gradient(135deg, rgba(255,179,20,1) 0%, rgba(234,255,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}